extends layout 

block content
 
 
  .sidenav
    .login-main-text
      h2
        | The Roast House
        br
        |  Login Page
      p Login to access your account.
  .main
    .col-md-6.col-sm-12
      .login-form
        form
          .form-group
            label User Name
            input.form-control(type='text', placeholder='User Name')
          .form-group
          label Password
          input.form-control(type='password', placeholder='Password')
      br
      button.btn.btn-black(type='submit') Login
      br
      br
      label No account?
      br
      label Why not register with us...
      br 
      a.btn.btn-black(href='/SignUpPage') Register
