link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
link(href='C:\Users\t00223553\Downloads\TheRoastHouse\public\stylesheets\loginHomePage.css')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')
// ---- Include the above in your HEAD tag --------
.sidenav
  .login-main-text
    h2
      | The Roast House
      br
      |  Login Page
    p Login to access your account.
.main
  .col-md-6.col-sm-12
    .login-form
      form
        .form-group
          label User Name
          input.form-control(type='text', placeholder='User Name')
        .form-group
        label Password
        input.form-control(type='password', placeholder='Password')
    br
    button.btn.btn-black(type='submit') Login
    br
    br
    label No account? why not register with us...
    button.btn.btn-black(type='submit') Register
