extends layout 

block content
  .row.banner
    .col-12
      h2=pageHeader.title
      p=pageHeader.strapline
      
  .main
    .col-md-6.col-sm-12
      .login-form
        form
          .form-group
            label User Name
            input.form-control(type='text', placeholder='User Name')
          .form-group
          label Password
          input.form-control(type='password', placeholder='Password')
      br
      a.btn.btn-black(href='/HomePage') Login
      br
      br
      label No account?
      br
      label Why not register with us...
      br 
      a.btn.btn-black(href='/SignUpPage') Register
