extends layout

block content
  .sidenav 
      .login-main-text
        h2=pageHeader.title
        p=pageHeader.strapline
  .main
    .recipe-background
      each recipe in recipeHome
        .card 
          .card-block
            a(href="/HomePage")= recipes.name
            
          