extends layout 

block content
  .row.banner
    .col-12
      h2=pageHeader.title
      p=pageHeader.strapline

  .main
    .col-md-6.col-sm-12
      .login-form
        form
          .form-group
            label Full Name
            input.form-control(type='text', placeholder='Enter your Full Name')
          .form-group
            label User Name
            input.form-control(type='text', placeholder='Enter your Username')
          .form-group
            label Password
            input.form-control(type='password', placeholder='Enter your Password')
      br
      a.btn.btn-black(href='/api/HomePage') Register